[2019-06-01 14:16] Tyler-Ward opened #1 "Update logo and branding"

[2019-06-01 14:17] Tyler-Ward opened #2 "Update website homepage"
We need a new website homepage

[2019-06-01 14:31] Tyler-Ward opened #3 "update sown-auth2"

[2019-06-01 14:51] Tyler-Ward opened #4 "Create a user management system"
We need a system to manage users and permissions

[2019-06-01 14:56] trickeydan commented on #4
This should be based on OAuth 2.0 for authenticating our services to the auth server.

The auth server should allow university members to login using their iSolutions logins, ideally using SAML.

[2019-06-01 14:58] trickeydan commented on #1
This is done. https://github.com/sown/brand

[2019-06-01 14:58] #1 closed, assigned to trickeydan

[2019-06-02 22:01] drn05r opened #5 "Could NetBox display Hilbert curves of IP subnet usage?"

[2019-06-02 22:18] trickeydan commented on #5
I think we could easily make a plugin for this.

Possibly even submit it upstream. It feels like the sort of thing that they would include.

[2019-06-02 22:18] drn05r opened #6 "De-brick script for SOWN nodes"
There are various way nodes can acquired invalid/incorrect configuration. It would be useful if there was a script that ran on the node and spoke to www.sown.org.uk, which could be set to provide certain configuration files, which should override the misconfigured ones it had previously pulled down.

[2019-06-02 22:34] drn05r opened #7 "Review maintain_sown_tunnel script to see why old openvpn processes hang about"
Chris commented back in September 2018 that this doesn't seem to be as much of a problem as it was.  However, if we are building a new firmware release we should see whether the script can be improved to limit the chances of this happening.

[2019-06-02 22:53] drn05r opened #8 "Add SOWN bespoke NRPE checks scripts to GitHub"
This needs to be co-ordinated with NRPE checks being added to Ansible Playbooks.

[2019-06-02 23:00] drn05r opened #9 "Import Ansible SOWN Git repository to GitHub"

[2019-06-02 23:01] drn05r commented on #9
Need to check there is no private information in this before doing so.

[2019-06-02 23:08] drn05r opened #10 "Consider how node's configuration can be tweaked to support wet bits of string"
Suggest a set of stability options be added:
- ping_attempts - How many times should it attempt to ping each target when checking the tunnel is live (default 4, wet string config of 10).
- wifi_down_after - After how many consecutive ping attempts should we consider the tunnel as "unlikely" to come back up (default 1, wet string config of 3)

This two options have been added to the admin site data

[2019-06-02 23:13] drn05r opened #11 "Experimental Raspberry-Pi build"
It should be reasonably easy to install the packages needed to get a Pi to function like a SOWN node.  This might be useful to allow people to connect their home network into the SOWN network with needing a proper SOWN node.

[2019-06-03 08:05] drn05r commented on #3
1. Switch to using ondrej's PHP 5.7
2. Upgrade Ubuntu to at least 16.04 LTS

[2019-06-03 10:36] drn05r opened #12 "Import SOWNBot codebase into GitHub"
This is currently in SVN.  The best plan would be to create a new local Git repository.  Copy the files across as needed and sanitize them for secrets before committing.  Once we were happy we have a sanitised and working copy in Git we should then push to a public GitHub repo.

[2019-06-03 10:55] drn05r opened #13 "Create GitHub issues interation module for SOWNBot"
**This should be transferred as an issue for the SOWNBot repo once created.**

If we are going to use GitHub issues it would be useful to have a replacement for the SOWNBot TodoModule.java that allows issues to be created, edited, commented on and resolved from IRC.

[2019-06-03 20:43] drn05r opened #14 "Check how easy it is to upgrade OpenVPN on auth2 to allow /126s for VPN tunnels"
It may be that the OpenVPN version for Ubuntu 16.04 supports this.  If not we should consider installing OpenVPN from its own APT package repository or possibly it is a motivation to try to upgrade auth2 to 18.04 and not just 16.04.

[2019-06-03 20:48] drn05r opened #15 "Audit the configuration options for the admin site in system.php"

[2019-06-03 20:50] drn05r opened #16 "Switch over to using admin site server services in create Icinga config script"

[2019-06-03 20:55] drn05r opened #17 "Build/acquire a serial or USB sensor for B32 server room temperature monitoring"
It was originally suggested that we should build a DS9097E one wire serial temperature sensor but it may be easier albeit more extensive to acquire a USB temperature sensor.

[2019-06-03 20:57] drn05r opened #18 "Rewrite /opt/sown/certs/ scripts to remove code duplication by using generic functions"

[2019-06-04 21:45] drn05r opened #19 "Review node syslogs if any log messages can be dealt with so they need not appear"
Review syslogs in /etc/sisyphus on sown-auth2 to see if an warning/error/notice log messages can be fixed.  This will probably require changes to the node firmware.

[2019-06-04 21:50] drn05r opened #20 "Add support for client isolation on wireless interface"
If the new focus of SOWN is for a community area network should we have client isolation?  We could by default have this switched off but something that could be switched on in certain scenarios.

[2019-06-04 21:56] drn05r opened #21 "Node-owner firewall control"
This entails firewalling all but certain ports as well as blackholing and layer 7 filtering.  However with most people using end-to-end encryption for most stuff, I am not sure if blackholing and layer 7 filtering are still relevant.

[2019-06-04 22:09] drn05r opened #22 "Add check to test whether SOWN users can login to RADIUS-backed services on www.sown.org.uk"
Sometimes this seems to break but we are not aware of it as there is no check.  However, more recently this does seem to occur at the same time sown-auth2's EAPOL-SOWN check goes warning (failing on TTLS-PAP).

[2019-06-05 13:39] TimStallard opened #23 "Migrate auth2 off ECS DMZ"
Auth2 now has a public SOWN IP, we should migrate it off the ECS DMZ. A good starting point would probably be attempting to set up a node only talking over the new IP (I've got a node handy for testing this).

Other than that, watch connections to the old IP and reconfigure nodes and applications until they're all gone - we'll likely need to contact RADIUS server operators (jisc etc) as some of th

[2019-06-07 22:36] TimStallard commented on #3
auth2 upgraded, after lots of poking everything seems to be working again, hurrah

now we just need to work out how to eventually migrate everything off here so we don't have to repeat in a few years!

[2019-06-07 22:36] #3 closed, assigned to drn05r, TimStallard

[2019-06-09 16:19] TimStallard opened #24 "Fix debsums check + standardise NRPE configs"
The debsums check script (at least on some servers) is broken - the string result is compared as an integer, and the script will always return success regardless of the actual outcome.

As well as fixing the issue (I've already patched the script, though need to test it slightly more thoroughly), this seems like a good opportunity to standardise the NRPE configs on every server so they line up wit

[2019-06-09 20:16] drn05r commented on #24
Before starting this it may be worth installing Ansible on auth2 and checkout the Git repository of playbooks there rather than on monitor.

[2019-06-09 21:36] drn05r opened #25 "Review ipv6_tunnelbroker repository to see if it can be made public"
We should have made this public some time ago but we need to make sure it is complete and sufficiently documented and does not contain any private information.  There was a hardcoded IPv6 address in an earlier commit, which is not a problem.  However, if there were any keys for CAs created they would need to be fully removed from the repository.

[2019-06-09 23:09] TimStallard commented on #24
Servers to sort:
- [x] admin-dev
- [x] auth2
- [x] backup2
- [x] backup3
- [x] buildroot
- [x] buildroot-dev
- [x] data1
- [x] external-monitor
- [x] gw
- [x] gw2
- [x] marconi
- [x] monitor
- [x] monitor-new
- [x] radius2
- [x] vms
- [x] vpn-test
- [x] vpn2
- [x] wifimon
- [x] www
- [x] zepler-websdr

tunnelbroker also has the debsums check, but I don't think I have access and suspect the config

[2019-06-13 13:18] drn05r opened #26 "Replace eapol_test function with PHP RADIUS library for change password on www"
The PHP library works fine for @sown.org.uk RADIUS logins on auth2, so as it is only needed to check @sown.org.uk passwords are correct when changing password, then it should solve the problem with using eapol_test on www that was previous used to do this task but does not work on recent versions of PHP.

[2019-06-13 13:22] drn05r opened #27 "Fix validation on Node Interface to block "offerDhcpV6" with no IPv6 address"
There is a bug that allows you to set offerDhcpV6 when no IP address is set for a Wi-Fi interface for a node in the admin system.  There should be a validation check to prevent this from being possible.

[2019-06-13 13:25] drn05r opened #28 "Figure out how to setup LAN port on AR150 to passive passthrough"
This requires setting the "type" option on the interface in UCI to "bridge" and specifying a list of ports.

There should not be any disadvantage to setting  eth{0,1} as a bridge interface by default in new builds? Then a node  host doesn't need to worry about which port they plug into and the other  port can be used as a passthrough. We don't use the spare port for  anything else at the moment.

[2019-06-13 18:15] drn05r opened #29 "Fix update_nass script for nodes with multiple SSIDs"
Figure out how the update_nass script within the admin site can be fixed to allow for multiple is1x mac addresses.

[2019-06-13 18:19] drn05r opened #30 "MAC blacklisting to stop home network users connecting to eduroam"
Provide a mechanism to prevent certain MAC addresses connecting to certain nodes without breaking eduroam for those MACs.

Someone has been working on this and the code for this is on auth2 in the development directory (/srv/www/development).  Merging this in needs care as it could break all the nodes config and take them offline.

[2019-06-13 18:22] drn05r opened #31 "More regular usage cap checking for nodes"
Nodes need to check whether they are over their usage cap more often. This is currently only done once an hour on the hour.

Have a flag in the database table that says whether the SSID should be disabled. This will update the recorded last modified time which will mean the config will be pulled down by the node.

[2019-06-13 18:49] drn05r opened #32 "OpenWRT Git branches management"
Consider how to setup openwrt git repo and branches so it can easily be pushed/pulled on buildroot and buildroot-dev

[2019-06-13 18:52] drn05r opened #33 "Munge check_eapol script to send RADIUS accounting messages"
Munge check_eapol script to allow it to send RADIUS accounting start and stop messages to keep iSolutions happy.

Cisco ISE allocates licenses for the number of active sessions established. If no RADIUS accounting is sent the session says active and uses a license for 5 days before it assumed to have ended. Eveyr time we run eapol_test for an @soton.ac.uk address we use a license for 5 days. This

[2019-06-13 18:54] drn05r commented on #33
radclient can send RADIUS accounting start and stop messages but does not do two phase encryption. (e.g. can do MSCHAPv2 but not outer encryption such PEAP or TTLS).

[2019-06-17 12:29] pjb304 commented on #25
Looks fine to me, a couple of corrections suggested in a pull request.

[2019-06-17 14:20] drn05r commented on #9
Hi Tim,

As @TimStallard has already imported this as a private repo I thought I would assign it to you as well.  I am happy to check over stuff.  I guess what we should do is not commit the Ansible hosts file.  I don't think this is a problem historically but for ease of reuse if we make public this file should not be present.  Maybe we should have a placeholder hosts.tmpl.

[2019-06-17 18:15] drn05r commented on #25
Pull request merged and repository made public now two of us have cheked it.

[2019-06-17 18:15] #25 closed, assigned to pjb304, drn05r, heliosfa

[2019-06-17 23:55] TimStallard commented on #9
If we're attempting to make the repository more generic, it might also be nice to remove the use of /etc/ansible in lots of playbooks, and use relative paths instead. That way multiple people could have their own checkouts of the repo on auth2 (or wherever), and work on playbooks individually.

For my personal infrastructure, I structure this with files stored alongside the playbooks, rather than

[2019-06-18 22:27] TimStallard commented on #24
Now sorted on all servers, and I've written and deployed a check for systemd failed services on everything as well. Just need to tidy up and commit now.

Should make it much easier to deploy new checks on every host at once :)

[2019-06-19 18:37] drn05r commented on #12
There is now a private repository at https://github.com/sown/sownbot/

I am fairly confident it does not have any secrets committed but it may be worth keeping it private for a while to allow a few more people t check over it and may be remove some more of the hardcoded elements.

[2019-06-20 18:14] drn05r opened #34 "IPv6 traffic routing for nodes with an eduroam SSID"
If we only have eduroam SSID, push all v6 via Tunnel (unless configured LAN block is not ours).Otherwise, push it all via upstream.

[2019-06-20 18:20] drn05r opened #35 "ttls-eap-mschapv2 and ttls-mschapv2 eapol checks on auth2 fail"
Since upgrading to Ubuntu 16.04 ttls-mschav2 check has been failing.  Prior to this the ttls-eap-mschapv2 has been failing.  This was 'fixed' by doing the following:

"It looks as though authentication is still successful but a warning about MPPE keys is generated which prevents the check from seeing the SUCCESS output. cmalton has hacked the check_eapol script to run a second time without doing a

[2019-09-12 08:39] drn05r opened #36 "Investigate why conntrackd active connections has started increasing so quickly"
Prior to rebooting gw and gw2 for the 4.15.0-60.67 kernel upgrade.  The number of active connections according to conntrackd increased fairly slowly (approx. 6000-7000 a day on gw2, which is currently primary) prior the upgrade up to (40,000-50,000) since.

Both servers have since been rebooted to use the 4.15.0-62.69 kernel but with no change.

Currently "conntrackd -s" on gw2 shows 22,614 connec

[2019-09-17 23:07] #24 closed, assigned to TimStallard

[2019-10-04 23:07] TimStallard opened #37 "Configure out of band access to servers"
Having out of band access via IPMI + Serial on all physical servers would be useful for anyone doing maintenance. With some fiddling this can be set up on both older servers with DRAC4 (IPMI 1.5) and newer servers with IPMI 2.

Servers to sort:

- [x] radius2
- [x] auth2
- [x] vms
- [x] gw2
- [x] gw
- [x] vpn2

Things to consider:
- Do we want this on the main SOWN LAN, or on an isolated VLAN?
  -

[2019-10-05 13:20] TimStallard opened #38 "Add monitoring for bond0 on VMS"
It has a 3x 1G LAG, would be nice if icinga could shout if any bond members are down

[2019-10-05 13:21] TimStallard opened #39 "Add monitoring for dual PSU servers"
Would be nice if icinga could spot if a PSU is disconnected or fails for dual PSU servers

Currently just VMS I think?

[2019-10-05 13:23] TimStallard commented on #36
cron job was modified to clear conntrackd's state table and resync with the kernel's hourly rather than daily, it's stopped us hitting limits for now at least, underlying issue still needs investigating

[2019-10-08 14:11] TimStallard commented on #13
[irccat](https://github.com/irccloud/irccat.git) has excellent support for processing github webhooks and dumping a little message to IRC - that'd get any comments on issues, code pushed, etc nicely logged to IRC. I've seen it used in a few public channels and it seems to work nicely.

It might be possible to hack it up to send over TCP to sown-bot rather than directly to IRC itself?

[2019-10-09 21:12] TimStallard commented on #37
All sorted other than VMS today. Auth2 was a pain, SOL can only be mapped to its second serial port - grub + iPXE using console redirection, works fine, kernel + getty configured to use ttyS1. Probably worth noting somewhere (wiki page?), will be needed if booting it into the ubuntu installer.

[2019-10-17 16:16] TimStallard opened #40 "Node DHCP server issues"
Nodes regularly fail to give DHCP leases to connected clients. We've implemented a check that reads logs and checks for associated clients but no DHCP leases, but the underlying issue needs to be investigated.

This seems like some kind of race condition on tunnel restart between dnsmasq starting and the wireless interface coming up. Could investigate on a test node repeatedly restarting the tunne

[2019-10-18 01:22] TimStallard commented on #13
https://github.com/xPaw/GitHub-WebHook looks far more suitable for this - and the example was easy enough to modify to talk to SOWN-Bot and add !h for anything from private repos.

Got it working on my own webserver for now, need to look at somewhere sensible to deploy it (www?) tomorrow.

[2019-10-26 18:54] TimStallard opened #41 "Patch backup scripts to include postgres databases"
Netbox relies on postgres and we should be backing the DB up, our backup scripts currently only include MySQL.

Until this can be put into the backup scripts properly, I've put a cron job on netbox to dump the database hourly.

[2019-10-29 23:56] TimStallard commented on #40
I can reproduce this on a node here by restarting the tunnel. Something also appears to attempt to restart/HUP dnsmasq when the wireless interface is taken down and up again (which is why we restart it in the first place). Worth investigating what's doing that and if our manual restart is needed anymore.

[2019-11-02 22:05] TimStallard commented on #13
Webhook handler set up, seems to work OK. I think this covers a lot of the functionality here, and avoids any complicated handling of confusing IRC users and bots etc if actually editing issues via IRC, so closing for now.

[2019-11-02 22:05] #13 closed, assigned to nobody

[2019-11-05 13:22] TimStallard opened #42 "Add monitoring on VMS free space"
It's free space in the vm-disks-vg VG that we care about, add to icinga2 once up and running.

[2019-11-10 10:24] drn05r opened #43 "update_config tmp files filling node's /tmp directory"
node311 was reporting an UPDATE-CONFIG failure on 10th November.  This was due to its /tmp being full with files from update_config running each day.  Due to it being up for 214 days, /tmp had not recently been cleared.  update_config is creating two files each time its runs:

-rw-------    1 root     root             8 Aug  2 17:04 /tmp/tmp.ALEdkm.fail
-rw-r--r--    1 root     root           189

[2019-11-13 11:35] TimStallard commented on #43
This was because we were expecting `Content-Type: text/x-sh`, and got it with `;charset=UTF-8` instead. The cron check was causing this, and not actually in use, so @drn05r disabled it via the admin system on all nodes.

[2019-11-13 11:35] #43 closed, assigned to drn05r, TimStallard, trickeydan

[2019-11-14 07:29] drn05r opened #44 "Setup jumpbox"
To allow new members to gain access to the specific servers they need without having to give then access to auth2 or one of the gateway servers.

We can create user accounts for new members and generate public/private keys for these users, then place the public keys on the specific servers/user accounts to which they need access.

[2019-11-14 19:33] drn05r commented on #44
Create jumpbox server with SSH certificate authority with principals.  Configured access from certain boxes on UoS network.  Still need to get DNS registered internally only.

[2019-11-16 22:33] drn05r commented on #44
DNS has been registered

[2019-11-16 22:33] #44 closed, assigned to drn05r

[2019-11-17 16:23] drn05r opened #45 "Extend MAC blacklisting to include whitelists to discount usage"
Some node hosts want to ensure their usage does not count towards their usage cap, so want to whitelist MAC addresses that should not count towards their usage.

[2019-11-17 21:32] TimStallard opened #46 "Move VM disks from files to LVM LVs on VMS"
A number of VMs have been created as raw/qcow2/vmdk files on VMS by accident, they should be moved to LVM LVs.

[2019-11-17 21:35] drn05r opened #47 "VMS templates creating VMs on wrong storage location"
CoreOS, Ubuntu 16.04.5 and Ubuntu 18.04.1 templates all had there storage location set to default rather than disks.  So a number of VMs have been created on the hosts main disk partition (default) rather than the one dedicated to guests (disks).  This has led to the host system almost running out of disk space,

[2019-11-17 21:36] drn05r commented on #47
All templates have been updated to use the 'disks' rather than the 'default' storage location according to the Wok web interface.

[2019-11-17 21:38] drn05r commented on #47
@TimStallard  has successfully copied the CoreOS VM to the appropriate location and updated the VM's metadata with virsh.  He checked it boots and deleted the old image and interfaces.

[2019-11-17 21:42] TimStallard commented on #47
To migrate:
- [x] CoreOS - qcow2
- [x] zepler-websdr - vmdk
- [x] SOWN-VPN-Test - qcow2
- [x] wifimon - vmdk
- [x] monitor2 - vmdk
- [x] netbox - vmdk
- [x] jumpbox - vmdk

[2019-11-18 03:10] TimStallard commented on #42
@drn05r wrote a short check for this, but vgs doesn't run properly as the nagios user. I've hacked together a version of this check reading disk sizes from /dev and /sys, which runs unprivileged ok.

[2019-11-18 03:10] #42 closed, assigned to TimStallard

[2019-11-18 23:57] TimStallard commented on #47
All migrated, should probably keep old disk images for a week or so in case of any issues, then clear them out.
May be worthwhile looking at dropping the libvirt "default" storage pool, and moving ISOs to the kimchi specific ISO one? Some VMs have ISOs attached in the old location, so would need to update config for that as well, or remove the ISOs from the VMs.

[2019-11-20 23:22] TimStallard commented on #47
ISOs all removed from guests and moved to the Kimchi ISO storage pool now, and have deactivated the default pool. Just need to clean up VM disks soon now.

[2019-12-05 18:22] TimStallard opened #48 "Backup the switch configuration"
We should be backing up the config on our switch. Would be ideal if this could get put into the existing sown backup scripts, and therefore get properly copied onto the backup servers etc.

[2019-12-05 18:23] trickeydan commented on #48
Changed name, it implied that there was a second, backup switch

[2019-12-17 01:15] TimStallard commented on #23
We started looking at moving VPN clients over to the new IP on auth2, but that's unnecessarily complicated due to the logic in node control surrounding servers having two IPs and being on the DMZ and SOWN LAN.

I've started setting up a new VPN server (vpn.sown.org.uk), once complete plan is to move nodes with new firmware onto the new VPN server.

[2019-12-17 14:21] TimStallard commented on #36
Since migrating to nftables the number of states in conntrackd's table has been stable, and the cron job has been disabled for a while now. I suspect we've just stopped routing things asymmetrically for now - but either way, all looks good at the moment.

[2019-12-17 14:21] #36 closed, assigned to drn05r, cjsoftuk, TimStallard

[2019-12-18 00:51] TimStallard commented on #23
New VPN server is all up and running, BIRD deployed on routers and working OK for both IPv4 and IPv6.

[2019-12-18 21:32] drn05r opened #49 "Move backup script to run from backup servers"
On our ongoing project to remove funcgtionality from auth2, we should change the way backups work so that the backup servers rsync onto them and them tarball up a snapshot each day.  This would reduce our reliance on auth2 and it would allow backups to run in parallel rather than in series.

Doing this previous was not easily do-able as the backup server lack CPU performance and only had 100Mbps n

[2019-12-18 21:39] drn05r opened #50 "Tidy up the certificate generation/renewal scripts"
Currently the scripts for generating and renewing certficates for nodes and servers are a bit of a mess.  A single file script that provides a menu of options should be able to do the job maybe with an options to specify a settings file to use.  This would save having duplicated code that I suspect may have already become inconsistent between the multiple scripts that currently exist.

[2019-12-19 03:13] TimStallard commented on #49
#41 and #48 are two other things that we could include while working on backups.

Probably want to config manage the backup scripts somehow - could just deploy them via ansible, and include in that repo?

I also notice the backup log on auth2 is huge (close to a GB), so we should add logrotate config for that on the backup servers when done.

I suppose we could even look at generating the config a

[2019-12-19 03:18] TimStallard commented on #49
ZFS + snapshots might also be worth considering - would let us store a load more historical copies of data, without needing the extra disk space for multiple copies.

[2019-12-19 10:58] TimStallard commented on #49
One other thing while I'm thinking about backups, the passive checks should move over to monitor2.

[2019-12-24 22:16] TimStallard commented on #40
Looking at this further, I think a big part of the issue is that openvpn drops privileges to nobody. There's a lot of the hook script that it can't run, which includes taking the wireless interface up/down, and we currently rely on the cron job to spot this.

Worth considering changing openvpn to run as root so it can run the hook scripts?

Would need changes on the node_control side.

[2019-12-26 12:08] TimStallard commented on #49
I've started working on a python backup script in [sown/backup](https://github.com/sown/backup). Got most of the basics going, creating zfs filesystems, rsyncing, snapshotting, talking to icinga for passive checks.

Still needs some thought for MySQL backups etc. I was pondering a directory on each server (eg `/etc/backup-scripts/`) that we run with run-parts before the backup (can be done easily

[2019-12-26 12:17] drn05r commented on #49
This makes sense. Have one for mysql, one for postgres and one for dpkg and then maybe further ones if we have other applications it is useful to dump out before backing up.  These backup scripts can then be deployed using an Ansible playbook.

It is probably that what backup scripts run on what server is determined in the config on the backup server itself rather than having to have different set

[2019-12-26 20:24] TimStallard commented on #49
Hmm - I was thinking putting the scripts on each server and deploying as part of that service playbook (much like we do with mysqlbackup now) would let us keep the state of what to run on servers themselves, rather than duplicating between backup2/3.

That would make it much easier to write one-off backup scripts specific to a server as well (eg just a little script on one server to dump the switc

[2019-12-29 12:35] drn05r commented on #50
This has now been reimplemented in Python3 in certs repo.  It has its own module that generates the certificate and key based on being provided the appropriate information.  It also has a command line script that can do the following:
1. Create outstanding empty certificates
2. Renew the certificate for a node and SSH in to update it where possible
3. Generate a tarball with certificate, key and C

[2019-12-29 12:35] #50 closed, assigned to drn05r

[2020-01-28 23:43] TimStallard opened #51 "Add monitoring on ZFS pools"
Now that we're rebuilding backup servers on ZFS, we should monitor these pools, checking both pool health and free space.

Should be easy enough, we just need to check the following, and can work fine unprivileged via NRPE:
[code]

zed is also set up (on backup3 at least) and should email in the case of errors from scrubs, emails don't seem to be getting relayed properly so far though.

[2020-01-31 18:47] trickeydan opened #52 "Use Device Roles properly in Netbox"
Netbox VMs currently do not use device roles.

This ticket is assigned to Tim because he said it needed doing and then ignored me saying that we should create a ticket.

[2020-01-31 18:49] trickeydan opened #53 "Migrate devices to correct IP range"
The following devices

- `odroid`
- `staff-wqm`
- `student-wqm`

This ticket is assigned to Tim because he said it needed doing and then ignored me saying that we should create a ticket.

[2020-01-31 18:51] TimStallard commented on #53
those are chris' boxes

[2020-01-31 18:58] TimStallard opened #54 "Generate DNS records from netbox"
We should autogenerate our DNS zones from netbox, ideally in python. Should be easy enough using just a jinja2 template for the generated zonefile, and pynetbox.

Only worth generating the "hosts" fragments for now, and we can leave the nodes parts generated by node_control for now.

[2020-01-31 19:12] trickeydan opened #55 "Use Netbox reports"
- [ ] Check DNS Forward Records

- [ ] Check DNS Reverse Records

- [ ] Check all interfaces have a MAC address

- [ ] Check all interfaces exist on the box (name matching)

- [ ] Check boxes marked as offline, are indeed offline

- [ ] Check connected cables are connected, against switches, and match MAC addresses.

- [ ] Check all v4 addresses have a v6 address too, excluding IPMI (using v4-only

[2020-01-31 19:12] trickeydan opened #56 "Add nodes to netbox"
Long term goal. We'll have to think carefully about how to model this.

[2020-02-01 21:49] TimStallard opened #57 "Monitor RAID arrays"
vms, vms-b53-1 and auth2 all use hardware raid 1 - we should be monitoring the health of these arrays.

Looks like nagios-plugins-contrib contains checks we could use, though relying on utilities for individual controllers.

[2020-02-01 22:50] TimStallard commented on #57
Seems easy enough to get going:
[code]
Then for the nagios side, install check_raid, generate sudo config and test:
[code]
Will need some thought on how to handle in netbox and automate the checks on monitor2 (or just make them manual?)

[2020-02-02 16:22] TimStallard commented on #54
@trickeydan suggested using netbox's export features for this, which looks great for now. There are a bunch of DNS libraries for python that we could use to build a full zone properly with pynetbox eventualy, but for now this lets us build parts of zonefiles directly from netbox with some jinja2.

v6 reverse zone done as a first test, seems to mostly line up:
[code]

[2020-02-05 14:56] drn05r opened #58 "Remove DHCP-LEASES check from nodes"
DHCP-LEASES check was put in place to understand why nodes would randomly stop giving out DHCP leases.  This looks to exclusively be due to dnsmasq dying, so we have added a DNSMASQ-PROCS check which is a lot more straightforward and quicker to register an issue.

[2020-02-06 16:08] TimStallard opened #59 "Investigate controlling access to servers."
We should do this so we can have sensible access control to servers.

One other thing that comes to mind, it would be nice if we could automatically set git environment variables. At the very least, we should write some ansible to accept them as forwarded environment vars probably?

Could probably also document a standard ssh_config for proxyjumping etc.

[2020-02-06 17:45] TimStallard opened #60 "Monitor netbox reports from icinga"
I noticed that wikimedia do this with a little python script that uses pynetbox, might be useful inspiration:
https://gerrit.wikimedia.org/r/plugins/gitiles/operations/puppet/+/production/modules/icinga/files/check_netbox_report.py

[2020-02-06 19:07] TimStallard commented on #57
All done on VMS, ignore on AUTH2 for now

[2020-02-07 00:41] TimStallard opened #61 "Make netbox and monitor2 accessible"
External (or less restricted internal) access to netbox and monitor2 would be good. Probably needs a bit more thought on auth.

Personally at least, if we can handle auth at the webserver level (eg apache radius like we have now for monitor2), I'd be happy with external access.

Will need to obtain certs (if external, could be LE, otherwise need to go through normal uni processes).

[2020-02-07 13:16] TimStallard opened #62 "Make PXE services (DHCP+TFTP) HA between GW and GW2"
We should ansiblise the config and make this HA. Simple solution would be to just split the DHCP pool in half and have each server use its own range.

Probably leave this until we've started refactoring ansible.

[2020-02-07 16:39] trickeydan opened #63 "Recreate Server Attributes Checks with Netbox"
We should check that the server attributes match that in netbox

[2020-02-07 16:40] trickeydan opened #64 "Revise roles in netbox"
We are not using this to it's full potential. We should.

[2020-02-07 16:40] TimStallard opened #65 "Rename servers"
Now that we've started using hostnames like `vms-b53-1`, we should move over other servers, eg as we move GW over to B53.

We'll first need to work out how to actually rename a server!
Things that come to mind:
- rename in netbox
- rebuild dns
- zfs rename dataset on backup2 and backup3
- mv dir in /var/lib/graphite/whisper/icinga2/ to keep monitoring graphs

If we're still using the admin system

[2020-02-07 16:52] TimStallard commented on #54
Have migrated over v6 reverse dns, v4 will happen next hour when updatednszones runs.

Switching over the forward side will make the following changes, need to check sure they all look sane.

Does anything use the sown- prefixed names (which are actually .ecs in the admin system), or the TXT / SRV / HINFO records?

[code]

[2020-02-07 17:07] cjsoftuk commented on #54
Err..... what?!

[2020-02-07 17:07] cjsoftuk commented on #54
Actually... ignore me.... there's an extra -1 in the middle of what it cnames to....

[2020-02-07 17:08] trickeydan commented on #54
This makes sense. `vms-b53` refers to the latest incarnation of `vms-b53-x`, so doing the same to the IPMI seems sane to me.

[2020-02-07 17:09] cjsoftuk commented on #54
Yeah - I thought it was CNAMEd to itself.....

[2020-02-07 17:15] TimStallard commented on #54
Forwards and v4 reverse done now.
[code]

Just waiting for alerts to go off now, close in 24h or so if all good.

[2020-02-08 03:45] TimStallard commented on #63
Doing this from a netbox report would probably make sense. Random thought I just had - currently this is driven by a cron job that submits a bunch of info to auth2. One option might be to generate an SSH key on netbox, and configure it (via ansible) to run a check script as a forced command on all servers?

That way we could have the report collect data on-demand (using paramiko), without giving n

[2020-02-08 12:38] TimStallard commented on #62
This is now deployed on GW, ansible changes are at sown/ansible#4.

[2020-02-08 12:38] #62 closed, assigned to nobody

[2020-02-09 17:55] TimStallard commented on #54
Well, I've not seen any alerts or cron spam so far, so I think this can be closed.

[2020-02-09 17:55] #54 closed, assigned to nobody

[2020-02-10 14:43] trickeydan commented on #59
# SOWN: Investigations into Future Authentication

**A dossier because that sounds cool.**

## Vault

Vault is a fairly nice bit of software for storing static and dynamic secrets. It is developed by Hashicorp, and is mostly open source. It is often used in enterprise environments to solve the issue that we have, albeit on a larger scale than us.

It is backed by a Hashicorp database, "Consul". Co

[2020-02-12 00:19] TimStallard opened #66 "Checks to migrate to Icinga2"
This is very much not an exhaustive list, will add things as we discover them. Only focusing on server checks for now; node bits will be migrated later.

## High priority / major
- [ ] External monitoring
  - [x] Set up external-monitor as icinga2 agent
  - [x] External ping checks
  - [ ] External HTTP checks

## General
- [ ] DNS checks
- [ ] Whois checks
- [ ] HTTP(S) checks
- [x] Disk checks (

[2020-02-12 10:47] drn05r commented on #58
I have done this but left in a way that can be re-enabled if necessary.

[2020-02-12 10:47] #58 closed, assigned to drn05r, TimStallard

[2020-02-12 10:53] drn05r opened #67 "Consider how to use Icinga2 meta checks to replace current IPv6 Matrix checks"
Currently the IPv6 Matrix is generated by a single check on each host in the matrix and requires config to be pulled down to know which other hosts to ping6.   Icinga2 meta checks should provide a better way of doing this.

[2020-02-13 16:56] TimStallard commented on #53
We need to decide to where in the SOWN subnet we want to move these, discuss this evening.

[2020-02-13 17:04] TimStallard commented on #47
I've just removed all the old VM disks.

[2020-02-13 17:04] #47 closed, assigned to drn05r, TimStallard

[2020-02-13 18:49] TimStallard commented on #9
We've been working on a new ansible repo to be public, so the old one can stay private for now. So this can be closed.

[2020-02-13 18:49] #9 closed, assigned to drn05r, TimStallard

[2020-02-13 18:56] TimStallard commented on #12
Just made the repo public.

[2020-02-13 18:56] #12 closed, assigned to drn05r

[2020-02-13 19:00] TimStallard commented on #41
This is being done as part of #49 - hook script deployed on netbox, just needs adding to ansible.

[2020-02-13 19:00] #41 closed, assigned to nobody

[2020-02-13 19:01] TimStallard commented on #37
This is all done now - and all tested and working for the VMS-B53-1 build.

[2020-02-13 19:01] #37 closed, assigned to drn05r, TimStallard

[2020-02-13 19:22] TimStallard commented on #38
I think we should use this check script?
https://exchange.nagios.org/directory/Plugins/Operating-Systems/Linux/check_linux_bonding/details

[2020-02-13 19:48] TimStallard commented on #53
Allocated IPs 10.5.0.{249, 250, 251}

[2020-02-14 18:00] TimStallard commented on #53
@cjsoftuk renumbered these last night

[2020-02-14 18:00] #53 closed, assigned to cjsoftuk, TimStallard

[2020-02-17 23:14] TimStallard opened #68 "Fix grub on external-monitor"
External-monitor seems to be stuck booting from an external copy of grub legacy. Following attempts to switch to grub 2 the other day, this has stopped the automatic updating of /etc/grub/menu.lst, so it won't boot into new kernels now.

Switching to grub 2 would be good - I think we could just chainload it from grub legacy. One to look at during thursday meeting when we can get a console.

If tha

[2020-02-20 19:13] TimStallard commented on #68
We got a grub menu for the first boot off the CD, it was trying to use /boot/grub2/grub.cfg - added symlink to /boot/grub, all happy now.

[2020-02-20 19:13] #68 closed, assigned to drn05r, TimStallard

[2020-02-28 11:09] trickeydan opened #69 "Make a new shell server"
We currently ssh from auth2 to everywhere.

Let's not?

[2020-03-02 17:07] trickeydan opened #70 "Allow users to use alternative shells"
Not everybody likes bash!

I propose that we install some additional shells. e.g zsh

[2020-03-14 16:03] TimStallard opened #71 "Monitor zepler websdr, and make it start properly on boot"
The websdr rebooted with the power disruption the other day, and the rtl_tcp processes didn't start on boot. I can't see any init scripts or anything for these, so have just started them with the nohup lines in bash_history for now.

Probably needs systemd units, and tcp monitors in icinga2.

We also need to sort out the state of packages on the node, and upgrade to buster ideally.

[2020-03-17 00:36] TimStallard commented on #71
Zepler is slightly problematic as it's effectively both a node and a server. I've just added it to netbox as a standard server, so that it gets icinga2 monitoring for now, but we can revise that when we get to #56

Haven't added a hostname to its IP, as its DNS comes from the node in the admin site at the moment.

[2020-03-17 00:46] TimStallard commented on #71
have systemd-ified, units at /etc/systemd/system/rtl-tcp-590{1,2}.service

[2020-03-17 00:46] #71 closed, assigned to nobody

[2020-05-15 21:47] TimStallard commented on #49
This is all done and deployed on backup2 and backup3 now. I've disabled the old cron job on auth2 and the old passive monitors.

[2020-05-15 21:47] #49 closed, assigned to drn05r

[2020-05-16 03:41] TimStallard opened #72 "Out of band access to backup servers"
It would be nice if we had out of band access to backup servers.

They have no IPMI - dmidecode suggests the board is a J1900I-C, which has serial. When we get physical access to machines again, and when we move kit to B53, we could add a USB-serial connection from either the routers or vm hosts?

Would need all the normal config for serial, grub + kernel + getty. As we have no way to powercycle r

[2020-05-21 02:58] TimStallard opened #73 "Replace failed drive in vms-b53-1"
vms-b53-1 has a failed drive, and the RAID controller has thrown it out the array.

[code]

[code]

It's a 1TB 7.2k SATA drive.

We should probably obtain a replacement and swap it when we move the server to B53.

[2020-05-21 15:57] heliosfa commented on #73
Remind me, is VMS a Dell server? if so, a re-seat of the drive may be all that is needed - their controllers are notoriously finicky.

That (or a drive swap) may be something that we can arrange access for.

[2020-05-21 16:01] drn05r commented on #73
Yes it is a Dell server.  @TimStallard do you know when the disk failed or have you only just added the monitoring for this?  We have had a couple of power outage lately, which may have caused this disk failure.  Not sure if VMS-B53-1 has been affected and/or whether the UPS has saved it from any brief power outage interludes.

[2020-05-21 16:06] heliosfa commented on #73
Yeah, a power blip could certainly cause a drive to fall off a PERC array and a re-seat and re-build is the first thing to try for that.

[2020-05-21 16:08] TimStallard commented on #73
The drive started failing a while back, and monitoring only picked it up once the RAID controller actually considered the drive as failed. First entry in the smartd log was:
[code]
We're currently at:
[code]

The RAID controller considered the drive as FAILED until I did a reboot last night - since then it seems to have removed the drive from the array entirely, the drive is currently `Unconfigure

[2020-05-21 16:09] drn05r commented on #73
This is a bit moot at the moment due to lack of building access.  Unless we have another disk fail it is not a major issue for now. And even so, the server does not have anything absolutely critical on it or if it did that would be being backed up with our (@TimStallard and @trickeydan) new ZFS backup solution.

[2020-05-21 16:10] TimStallard commented on #73
Yeah, I think this is only worthwhile sorting out once we have physical access again and move the server to B53, and start putting services on it - it's effectively empty at the moment.

[2020-05-21 16:21] drn05r commented on #73
I have enquired with my the faculty research systems manager if there is likely to still be a warranty in force, to see if we can get a free new disk.  However, I think this is unlikely as the server is now over 6 years old.

[2020-05-21 16:24] TimStallard commented on #73
Putting the service tag into dell's site suggests that the warranty expired 03 JAN 2017 :(

[2020-05-31 14:25] TimStallard commented on #63
I've started some work on this in the `server-attributes` branch of the ansible repo.

It uses an SSH forced command to run a little script on each server (all deployed via ansible), netbox side is in `/opt/netbox/netbox/reports/attributes.py` on netbox.

Seeing as this gives netbox (hopefully very restricted) root access to servers, I'd appreciate a second look over this before deploying it every

[2020-05-31 14:37] trickeydan opened #74 "Distro upgrades"
We could update to 20.04 now that it has been out for a while.

We **really need to update the 16.04 boxes** too.

[2020-05-31 14:42] drn05r commented on #74
My general rule is to wait on the next non-LTS version of Ubuntu (e.g. 20.10) to come out before upgrading to the latest LTS.  20.04 does not look as problematic as previous LTS.  However, upgrading need not be rushed unless functionality is required from the LTS.

Ubuntu 16.04 -> 18.04 should be started ASAP save a last minute panic.

[2020-05-31 14:44] TimStallard commented on #74
We'll need to hold off upgrading GW/GW2 for a while, as Ubuntu removed the python2 version of ifupdown2, and the ifupdown2 people haven't got python3 packages sorted out yet.

16.04 machines to sort:
- [x] auth2
- [x] www
- [x] marconi
- [x] vpn-test
- [x] monitor
- [ ] admin-dev

That list may not be exhaustive, just things that came to mind. Once we've got the server attributes check we should a

[2020-05-31 14:51] trickeydan commented on #74
I feel like we should document this somewhere.

Let's keep this ticket for primarily tracking 16.04 upgrades.

[2020-05-31 14:54] TimStallard commented on #74
FWIW, something along those lines is enforced on the Ubuntu side - it won't allow you to upgrade from one LTS to the next until the .1 release is out (ie 20.04.1 in this case), unless you explicitly say you want to upgrade to a dev release.

[2020-08-23 23:15] TimStallard commented on #39
now deployed on both VMS hosts

this uses the following sudo config, which is manually deployed on both for now
[code]

[2021-09-19 13:41] drn05r commented on #74
We now have all servers (including auth2 upgraded to 18.04).  We should try to make progress on upgrading servers to 20.04, focusing on those that are most straightforward and least critical first.  Some have already been done.  I have put a risk score next to each server (1-3 scale for how critical the server is, 1-3 for how complex/liable to the break stuff the upgrade would likely be):

- [x] a

[2021-09-23 08:30] drn05r commented on #35
We were running a rather old version of WPA Supplicant's eapol_test (2.4 or earlier).  After upgrading auth2 to 18.04, we needed to sort out FreeRadius config for 3.0.  As this still led to issues with various checks failing, I contacted eduroamUK and we figured our that we were running such an old version of eapol_test.  Compling an new eapol_test from WPA Supplicant fixed the issues we were havi

[2021-09-23 08:30] #35 closed, assigned to drn05r, cjsoftuk, TimStallard

[2021-11-07 12:28] TimStallard commented on #51
backup3 ran out of space today, so we should get round to doing this

I think @drn05r is looking at adding checks, otherwise probably one to do at the next workshop day

[2021-11-09 11:36] drn05r commented on #69
We should use Jumpbox for this.  Maybe we should also repurpose data1, then we have redundancy in case VMS fails.  We could also setup a jumpbox on vms-b53-1.  However, we need to be able to sync stuff to all of these if we have more than one and they need to be standalone in case whatever does the syncing fails.

[2021-11-09 11:41] drn05r commented on #51
I have added ZPOOL-HEALTH and ZPOOL-USAGE checks to both backup servers on both sown-monitor.ecs and monitor2.sown.

[2021-11-09 11:41] #51 closed, assigned to nobody

[2021-11-09 11:44] drn05r commented on #48
@trickeydan I know you made some security improvements to the switch config and presumably manually took a backup of this config.  Did you make any progress on automating switch config backups?

[2021-11-09 11:50] drn05r opened #75 "Fix SOWN-Bot's events module"
Adding events does not update IRC topic and running !events list generated a Java exception:
[code]

[2021-11-09 11:54] drn05r opened #76 "Increase /boot partition on VMS"
The /boot partition is now barely big enough for three kernels.  We need to increase this so it can easily store at least 5 kernels at once.

[2021-11-09 12:01] trickeydan commented on #48
I didn't, but we probably want to utilise something like https://github.com/ytti/oxidized

Alternatively we could write our own equivalent and stick it on cron, shouldn't be too hard.

[2021-11-09 14:29] TimStallard opened #77 "Monitor git repositories on monitor2 and backup servers"
We should check for uncommitted changes, as well as local commits that haven't yet been pushed. I think this could simply be run from icinga2, via NRPE.

There's an old system in place which reports repo status back to auth2 (to MySQL!) and then a cron which reports that into SOWN-Bot - it'd be nice if we could replace that at the same time, so we'd be one step closer to moving stuff off auth2

[2021-11-09 22:13] TimStallard commented on #76
we don't have much room to work with at the start of the disk on VMS:

[code]

/boot/efi is relatively empty, only contains a copy of grub, so I think we could safely delete both partitions, then re-create a much smaller ESP (50MB perhaps?), and allocate the rest of that space to /boot

[2021-11-20 15:41] TimStallard commented on #76
I've repartitioned VMS so that it now BIOS boots (like the rest of our servers), and has a much bigger /boot:
[code]
This also means our PXE / rescue setup works, which didn't before with EFI booting

[2021-11-20 15:41] #76 closed, assigned to drn05r, TimStallard

[2021-11-20 17:12] TimStallard commented on #77
I've written a dumb check script which reads a list of repos, and checks the status of them

I think it would be good to put this in the monitoring repo, and deploy it via ansible - perhaps one for @Tyler-Ward? we could do this in the next workshop and make sure it's a documented process

[code]

[2021-11-20 22:45] TimStallard opened #78 "migrate icinga 1 configuration to git"
The old icinga 1 configuration on monitor is currently in SVN. It seems like we'll still be running this for a while, and keeping track of changes while moving to icinga2 would be useful anyway, so I think it would be worth moving this to git?

I'm pretty sure there are secrets in this repo, so I suggest we just keep it local to this machine for now rather than pushing to GitHub.

[2021-11-20 23:56] TimStallard commented on #78
so I think a conversion would be something like:
[code]
then in the old checkout we could do:
[code]
which should leave us with a new git repo, without touching the files, and carrying over the old history - after that we can wipe out the .svn directory and treat it as just a git repo

[2022-03-12 18:50] drn05r opened #79 "Fix RADIUS authentication to replaced Jisc roaming servers"
roaming2.ja.net and more recently roaming1.ja.net have be replaced with new servers.  SOWN does not seem to be able to successfully authenticate with these servers any more.  roaming1.ja.net was working without issue until it was replaced roaming2.ja.net had been non-functional for a long time and when the new server came online and the IP address changed, even after updating checks to use the new

[2022-03-12 18:54] drn05r opened #80 "Ensure regular cycling of ZFS snapshots on backup servers to stop running out of space"
Although there is still capacity to remove old style backups to free space on the backup servers for a while yet.  We need to look at the cycling of ZFS snapshots so that disk usage on backup servers stays fairly constant.

[2022-03-12 19:08] TimStallard commented on #80
we should be able to just modify how many snapshots we keep - it's set in `/opt/sown/backup/backup/config.py` - https://github.com/sown/backup/blob/master/backup/config.example.py#L5

I guess the other option is we make it smarter, so it keeps exactly enough snapshots to keep our disk usage at a certain level

one to discuss tomorrow

[2022-03-13 13:32] trickeydan commented on #70
I additionally propose that bash is sufficient.

[2022-03-13 13:32] #70 closed, assigned to nobody

[2022-03-13 15:20] TimStallard commented on #78
Now done, note that it turns out `/usr/local/icinga` was actually a subdirectory in the svn repo, so I only converted that directory. I moved `/usr/local/icinga/.svn` over to `/root/icinga-old-dot-svn`.

[2022-03-13 15:20] #78 closed, assigned to drn05r, TimStallard

[2022-03-13 15:31] drn05r commented on #79
roaming1.ja.net issues were due to general issues with this server late in the week.  This seems to have resolved itself.
roaming2.ja.net was due to a missing route to route traffic out coming from the right IP.  This has been manually fixed and updated in /etc/network/interfaces.

Also update janet pool to use load-balance rather than fail-over.

[2022-03-13 15:31] #79 closed, assigned to drn05r, TimStallard

[2022-03-13 15:54] TimStallard commented on #80
I've reduced our retention of monthly snapshots on backup2 to 12 months (was previously 24), let's see how it goes tonight

[2022-03-13 15:59] drn05r commented on #75
Made sure that wiki resolver_prefix for sownbot config still uses http: rather than https: to avoid semantic queries breaking.

See https://github.com/sown/sownbot/commit/0c05befbb4dd4386d367a1be7e67463e234ded47

[2022-03-13 15:59] #75 closed, assigned to drn05r

[2022-03-13 16:44] drn05r opened #81 "Sort out v6 DNS registration for marconi and hostnames its hosts"
DNS registrations for marconi and its hosts are all over the place.  This could do with tidying up:

### suws-marconi.ecs.soton.ac.uk
v4: 152.78.189.75
v6: 2001:630:d0:f104::5032:80a

### marconi.sown.org.uk
CNAME: suws-marconi.ecs.soton.ac.uk

### marconi.suws.org.uk
v4: 152.78.189.75

### suws.org.uk
v4: 152.78.189.75

### www.suws.org.uk
v4: 152.78.189.75

### photos.suws.org.uk
v4: 152.78.189.

[2022-03-19 21:25] #77 closed, assigned to nobody

[2022-04-10 23:16] drn05r commented on #80
@TimStallard Also updated backup3 to have the schedule a few days later.  Both backup servers seem to be keeping a reasonably stable level of disk usage since this change in the 70-75% range.

I think this can be resolved.  Although we should keep and eye on this to make sure it does not creep up too much over time.

[2022-04-10 23:16] #80 closed, assigned to TimStallard

[2022-05-04 22:41] drn05r commented on #73
Disk replaced and RAID1 array rebuild.

[2022-05-17 17:46] drn05r opened #82 "Investigate issues with php7.4-fpm on marconi.sown.org.uk"
php7.4-fpm seems to stop working properly.  Athough systemctl reports no issues, the websites on marconi stop responding.

[2022-05-17 18:38] cjsoftuk commented on #82
I have seen this before.  It's usually disk/io related.  The php-fpm pool processes end up sitting there with no available pool members to serve the request as everything is hung.  I recommend turning on some timeouts if they aren't already (max_execution_time, and max_input_time are the two obvious starters for 5), and then investigating underlying hardware for IO issues.....

[2022-05-17 18:55] drn05r commented on #82
@cjsoftuk I have upped the max_children from 5 to 16, which seemed to be the default on earlier versions of fpm.  There are three modes:
- static
- dynamic
- ondemand
It is currently set to dynamic.  It looks like a number of the timeouts only work if you use the ondemand mode.  Should I change to this mode before changing the max_execution_time and max_input_time settings?

[2022-05-17 19:00] cjsoftuk commented on #82
I'm running dynamic in production on a number of hosts with no issues.  max_exec_time and max_input_time are PHP settings, not FPM settings, so the FPM mode isn't really applicable here.

My experience suggests that these settings should *reduce* the impact, but may not eliminate it.

Looking at the timings, I think this is more IO-related than anything else as it generally happens overnight when

[2022-05-17 19:05] TimStallard commented on #82
hm, this has been going on for ages now, but I haven't got round to looking at it

last time I looked, it seemed like logrotate reloading things at midnight cleared whatever issue happened - so I wondered if something is causing apache/fpm workers to get stuck, then they eventually get killed at midnight

I think we had some behaviour like this with looping requests when we first switched from ngi

[2022-05-17 19:20] drn05r commented on #82
43 of the following error lines between 19:18 and 19:33 in /var/log/php7.4-fpm.log.1:

sown-monitor suggests the webiste first went down at 19:38 but this check only runs every 5 minutes.

I have updated /etc/php/7.4/fpm/php.ini and restart php7.4-fpm with the changes recommended by @cjsoftuk.

[2022-05-22 12:44] TimStallard commented on #65
machines to rename:

- [x] `vms` -> `vms-b32-1`
- [x] `gw` -> `gw-b53-1`
- [x] `gw2` -> `gw-b32-1`
- [x] `backup2` -> `backup-b53-1`
- [x] `backup3` -> `backup-b32-1`

[2022-05-22 15:12] drn05r opened #83 "Move www to Sown VM host"
www.sown.org.uk (sown-www.ecs.soton.ac.uk) is hosted on iSolutions VMWare cluster.  It cannot be upgraded as the /boot partition does not have enough space for newer kernels.  Expanding /boot is possible but would require iSolutions help.  It would be easily to make www a VM hosted on one of SOWN's VM host servers.  This should be done by doing a bare metal restore from backups.

www.sown.org.uk i

[2022-06-18 21:49] TimStallard commented on #73
the replacement drive seems to have failed :(

[code]

and the RAID controller kicked it out as failed

[2022-06-20 15:00] spaetow opened #84 "Fix RADIUS authentication to replaced Jisc roaming servers (part 2)"
Please update your configuration to send traffic to the new roaming1.ja.net (IPv4: 193.63.195.34, IPv6: 2001:630:1:132::34). Same thing as #79, server was replaced and no traffic is currently seen on it from any SOWN servers.

[2022-06-20 15:25] drn05r commented on #84
Hi Stefan,

I updated FreeRadius configuration back on 13th June.  (Later than I had planned because I forgot that my centralised update would not actually roll out a config changed to the RADIUS server). However, what I have failed to do was reconfigure the routing on this RADIUS server to route traffic via the correct interface if it was going to one of the roaming servers on ja.net.

I just ran

[2022-06-20 15:25] #84 closed, assigned to drn05r

[2022-06-25 13:13] drn05r opened #85 "Investigate weirdness with 10.5.0.212 IP address"
When login.sown.org.uk was offline it was still possible to SSH to 10.5.0.212.  This suggests some other device is also on this IP address.  We need to investigate what this is.

[2022-06-25 13:31] drn05r commented on #85
ssh -v 10.5.0.212 suggests it is a Raspberry Pi:

Raspbian / Debian 10 is Buster.

[2022-06-25 13:37] drn05r commented on #85
According to @cjsoftuk this is a Wireless Quality Monitoring (WQM) box sat on @heliosfa desk.  I am going to check the DNS to see if it is registered, otherwise I will add it.  Either way I will move login to a new private IP address.

[2022-06-25 13:51] drn05r commented on #85
This is rather odd there is staff-wqm looks to be on 10.5.0.250 and student-wqm is on 10.5.0.251.  Based on a matching ECDSA key fingerprint it looks like student-wqm is also on 10.5.0.212 for some reason.

[2022-06-25 14:40] TimStallard commented on #85
I think the WQMs were renumbered a while ago when we changed how our IP space was split up - maybe it retained the old IP as well?

[2022-06-25 15:35] drn05r commented on #85
I have done the following:
1. Added STUDENT-WQM and STAFF-WQM to netbox with appropriate interfaces and IP addresses (inc. 10.5.0.212) for STUDENT-WQM (assign hostname student-wqm-alt for now).
2. Updated netbox nftables.conf and bird.conf to update addresses and routing for login.  For ntftables.conf and bird.conf, I have committed this changes to their gits so they can be deployed on both gatewa

[2022-06-25 15:35] #85 closed, assigned to drn05r, TimStallard

[2022-06-25 15:37] drn05r commented on #85
I don't know how easy it will be for @heliosfa to sort out the errant 10.5.0.212 IP registration on STUDENT-WQM.  Therefore better to reassign login.  I did not want to use 10.5.0.211 or 10.5.0.210, as arp on auth2 suggested these may be in use.

[2022-06-25 15:43] heliosfa commented on #85
I'm not sure if I have login to them but happy to give both of the WQMs a reboot when I am in.

There is also the Odroid that we were using for something - is that registered in all the right places?

[2022-06-25 15:47] drn05r commented on #85
@heliosfa That may be useful at clearing the rogue IP address on student-wqm.  It would be useful to get that cleared.  Also trying to work out why arp -a on auth2 is reporting part records for the following:

`? (10.5.0.210) at <incomplete> on eth1`
`? (10.5.0.211) at <incomplete> on eth1`

[2022-06-25 15:48] heliosfa commented on #85
210 rings a bell as being the odroid.

Did the other WQM used to be 11?

[2022-06-25 16:02] drn05r commented on #85
@helios Neither is pingable as you expect from that result from arp.  It would make sense that are odroid and staff-wqm, as they are still contiguous now they have been moved.  I assume they must sometimes respond as I rebooted auth2 earlier today, so I would only expect results from arp -a since the server was rebooted.  I guess a reboot on all three of these devices might help.

[2022-06-26 08:49] trickeydan commented on #85
This is all quite interesting given that I pinged and arped for the IP before assigning it to LOGIN initially.

[2022-06-26 09:09] drn05r commented on #85
These I reckon might be as a result of me trying to ping IP addresses to test if they were in use.  Therefore, the main concern is just 10.5.0.212. As you can see the ARP entry below has a MAC address rather than saying incomplete:

`? (10.5.0.212) at b8:27:eb:d3:0c:43 [ether] on eth1`

[2022-06-26 12:33] drn05r commented on #82
Don't seem to have had any problems in the last month so I am tentatively going to say this is fixed.  To confirm the following settings are now being used:

`max_execution_time = 5`
`max_input_time = 5`

The defaults were:

`max_execution_time = 30`
`max_input_time = 60`

[2022-06-26 14:06] drn05r commented on #81
I have raised an iSolutions ticket for these amongst other DNS changes.

[2022-06-26 14:09] drn05r commented on #73
I have emailed Lance about whether he is happy for me to order:

https://www.novatech.co.uk/products/seagate-barracuda-1tb-3-5-inch-desktop-hard-drive-hdd/st1000dm010.html

I think we agreed that getting a cheaper disk that meets basic requirements from a regular supplier is a safer option.  Will try to get a replacement for the failed disk as well.  However, don't know if I would trust using that

[2022-06-26 15:15] drn05r commented on #69
@Tyler-Ward Has setup a new server on the IP address 10.5.0.209 and 152.78.103.165 and 2001:630:d0:f700::209.

This looks to be working well although did seem to originally be on an IP address already in use (10.5.0.212) so this was moved to .209 and the IPv6 address updated correspondingly (see #85).

I have just put in an iSolutions ticket for SOWN DNS changes.  I forgot to mention this but will

[2022-06-26 15:17] drn05r commented on #69
Once we are happy with the login server we may want a duplicate login server running on VMS-B32-1, so that we always have one login server online even if we are rebooting a VM host.

[2022-07-24 08:11] drn05r opened #86 "Decommission VPN2 and RADIUS2 servers"
Some time back we turned off the physical servers VPN2 and RADIUS2 hosted in the B32 L3 north server room.  These are already pretty old servers, so it is probably best they are thrown out.  It may be worth keeping the old hard disks just in case but other than this the rest can go to WEEE.

[2022-07-24 08:21] drn05r commented on #73
A new drive (Seagate Barracuda 1TB) was used to replace the drive this time.  This was successful rebuild into the RAID array and looks to be functioning with issue after being powered on for 428 hours so far.

[2022-07-24 08:21] #73 closed, assigned to drn05r, TimStallard

[2022-07-24 08:22] drn05r commented on #73
I have give Lance the failed replacement disk back to Lance to see if this can be sent back for a refund/replacement.  Not sure what we will do with the replacement if we get one.

[2022-07-24 08:26] drn05r commented on #81
This iSolutions tickets was completed shortly after it was submitted,  I tested at the time so iSolutions could resolve the ticket and have checked just now to confirm what we said we would do is not the case,

[2022-07-24 08:26] #81 closed, assigned to drn05r

[2022-07-24 08:52] drn05r opened #87 "Delete unrequired VMs of VMS-B32-1"
Here are the current VMs hosted on VMS-B32-1:
* admin-dev - Off
  * Was intended to be a replacements for auth2's admin site.
  * Should be deleted but disk retained
* auth2 - On
  * Required until all functions can be moved to other severs.
* backup-test - On
  * Was required for testing new backup server setup.
  * Maybe still needed for backup server setup testing but can probably be turned off

[2022-07-24 08:57] drn05r commented on #65
There is a potential to get a couple of new (to SOWN servers).  They may be useful as replacement gateway servers as the hardware of the current gateway servers is quite old.  If that is the case it may be usefuk to keep the hostnames as gw-b53-1 and gw-b32-1 but cname them to gw-b53 and gw-b32 then build the new servers as gw-b53-2 and gw-b32-2

[2022-07-24 08:58] drn05r commented on #65
DNS (internal and external) for vms / vms-b32-1 has already been updated it is just the hostname on the server itself that is left to update.

[2022-07-24 13:19] drn05r commented on #87
If we still need the disk then we should keep the VM but switched off now.  Here is the list of VMs to delete:
- [x] cmalton-test
- [x] CoreOS-vm1
- [x] jumpbox
- [x] monitor-new
- [x] wifimon
- [x] www-2

[2022-07-24 15:05] TimStallard commented on #82
this happened again, I've enabled apache forensic logging to try and see what causes it

[2022-07-24 15:22] drn05r commented on #87
also deleted all LV partitions associated with these VMs using lvremove.

[2022-07-24 15:22] #87 closed, assigned to drn05r, Tyler-Ward, TimStallard, trickeydan

[2022-07-24 15:50] TimStallard commented on #66
deleted lots of checks from icinga1 where we'd already put them in icinga2, and have started moving HTTP checks over

[2022-07-24 15:52] Tyler-Ward commented on #69
login2 now exists so this is complete

[2022-07-24 15:52] #69 closed, assigned to drn05r, Tyler-Ward

[2022-08-02 09:46] drn05r commented on #65
gw-b32-1 has been further updated to gw-b32 and gw-b53-1 has been updated to gw-b53.  Appropriate DNS changes have also been made by iSolutions.  I think we have lost the Graphana graphs on monitor2 as I did not rename to merge in time but datastores on backups servers were modified to avoid duplicates.

[2022-09-01 10:55] drn05r opened #88 "Get Icinga2 config generation from netbox to set -2 flag for check_nrpe where needed"
Monitor2 since its upgrade to Ubuntu 20.04 now uses version 3/4 NRPE packets but old 18.04 servers only support version 2.  We could use the metadata from netbox to set the -2 flag on check_nrpe when we know the server we are talking to is Ubuntu 18.04 or lower (or whatever zepler.sown.org.uk is running).

[2022-10-23 17:08] Tyler-Ward opened #89 "Populate ports on netbox device types"
device types are missing their ports may be worth filling them in

[2022-11-05 13:44] TimStallard opened #90 "Move IPMI interfaces to new VLAN"
We've been allocated a new VLAN for IPMI, and want to move our servers onto it:
- [x] gw-b32
- [x] gw-b53
- [x] vms-b32-1
- [x] vms-b53-1

I think vms-b32-1 has a separate IPMI port, rather than shared with onboard ports, so that should be nice and easy. I think vms-b53-1 only has idrac express without a separate port, so we'd need to get an extra connection to it then to move the existing sown VL

[2022-11-12 17:02] TimStallard commented on #90
This is now done in B32, changes are still uncommitted in /opt/sown/network, and ansible also needs tweaking

We still need to arrange to make the changes in B53:
- [x] need a new port on the IPMI VLAN
- [x] move vms-b53-1's IPs etc to the bridge
- [x] move cable from vms-b53-1 eno1 to gw-b53 eth3
- [x] connect vms-b53-1 eno1 to new management VLAN port

then later on we can:
- [x] move SOWN VLAN

[2022-11-23 07:31] drn05r commented on #86
These have been WEEE-d along with AUTH2 that died a couple of years ago and other non SOWN servers in the same rack.

[2022-11-23 07:31] #86 closed, assigned to drn05r